@charset "UTF-8";

/* -----------------------------------
/* 
        Base
/* 
/* /* ------------------------------ */

html {
    font-size: 75%;
}
body {
    font-size: 1.6em;
    color: #191919;
    background-color: #f2f2f2;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-family: "Sawarabi Mincho"; 
}
/* ---------------------------------
*
*               header
*
/* *----------------------------- */

/*------ header border line----- */

header {
    height: auto;
    padding: 22px 0 14px;
    box-shadow: 0 0 7px -1px #000;
    background-color: #f2f2f2;
    z-index: 1000;
} 
.site-logo {
    margin: 0 auto;
    width: 170px;
    height: 80px;
    overflow: hidden;
}
/* ロゴが追従する */
.fixed_btn { 
    position: fixed;
    margin: 0 auto;
    width: 170px;
    height: 80px;
    overflow: hidden;
    text-align: center;
    border-radius: 40%;
    opacity: .8;
}
.nav-list {
    display: flex;
    justify-content:  space-evenly;
    text-align: center;
    width: 570px;
    margin: 24px auto 0;
    font-weight: 600;
}   
.list-message {
    position: relative;
    display: inline-block;
}
/* .list-message:hover {
    opacity: 0.6;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
} */

/* 
.list-item_gl:hover {
    position: relative;
    display: inline-block;
} */

/* navをホバーするとアンダーライン */
.list-message::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scale(0,1);
    transform-origin: center top;
    transition: transform .4s;
}
.list-message:hover::after {
    transform: scale(1,1);
}

.ilustration_pic {
    margin: 10% 30%;
    width: 600px;
}
/* ------------------------

         Slider css

 /* -------------------- */

 .slider {
     width:94%;
     margin:0 auto;
 }
 .slider img {
     width:100%;
     height:auto;
 }
 .slider .slick-slide {
     margin:0 10px;
 }
 
 .slick-prev, 
 .slick-next {
     position: absolute;
     top: 42%;
     cursor: pointer;
     outline: none;
     border-top: 2px solid #666;
     border-right: 2px solid #666;
     height: 15px;
     width: 15px;
 }
 .slick-prev {
     left: -1.5%;
     transform: rotate(-135deg);
 }
 .slick-next {
     right: -1.5%;
     transform: rotate(45deg);
 }
 .slick-dots {
     text-align:center;
     margin:20px 0 0 0;
 }
 .slick-dots li {
     display:inline-block;
     margin:0 5px;
 }
 .slick-dots button {
     color: transparent;
     outline: none;
     width:8px;
     height:8px;
     display:block;
     border-radius:50%;
     background:#ccc;
 }
 .slick-dots .slick-active button{
     background:#333;
 }
 /* ----------------------------
 
             style
 
 -----------------------------*/

 .slider2 {
     top: 50px;
     width: 94%;
     /* margin-bottom:  100px; */
     /* margin:0 auto; */
 }
 .slider2 img {
     width: 100%;
     height:aut;
 }
 .slider2 .slick-slide {
     margin:0 10px;
 }
 .slick-prev, 
 .slick-next {
     position: absolute;
     top: 42%;
     cursor: pointer;
     outline: none;
     border-top: 2px solid #666;
     border-right: 2px solid #666;
     height: 15px;
     width: 15px;
 }
 .slick-prev {
     left: -1.5%;
     transform: rotate(-135deg);
 }
 
 .slick-next {
     right: -1.5%;
     transform: rotate(45deg);
 }
 .slick-dots {
     text-align:center;
     margin:20px 0 0 0;
 }
 .slick-dots li {
     display:inline-block;
     margin:0 5px;
 }
 .slick-dots button {
     color: transparent;
     outline: none;
     width:8px;
     height:8px;
     display:block;
     border-radius:50%;
     background:#ccc;
 }
 .slick-dots .slick-active button{
     background:#333;
 }
/* --------------------------------

               About

----------------------------------*/
.section-wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: 60px 20px 90px;
    font-size: 20px;
}
.section-title {
    margin: 0 auto 48px;
    text-align: center;
    padding:10px;
    border: 2px solid #191919;
    font-size: 2.5rem;
    letter-spacing: 0.4em;
}
/* ------------------------------

            policy

-------------------------------*/
.list-item_concept {
    margin: 0 auto;
    max-width: 960px;
    padding: 60px 20px 90px;
    font-size: 23px;
}
.sub_section_title_top {
    position: relative;
    text-align: center;
    padding: 30px  0;
    margin-bottom: 30px;
    font-size: 25px;
    letter-spacing: 5px;
}

/* -------------------------

            staff

---------------------------*/

.content {
    text-align: right;
}
.content img{
    width: 50%;
    margin-top: 100px;
    /* height: auto; */
    /* margin: 10px 20px 50px; */
    border-radius: 40%;
    
}
.staffL {
    top: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.staffR {
    width: 50%;
    /* margin-bottom: 30px; */
    font-size: 18px;
    text-align: left;
}

.staffR h3 {
    margin-top: 50px;
    color: #00696e;
    border-bottom: 3px solid #AECFD1;
    padding-left: 5px;
    margin: -10px;
    font-size: 1.6em;
}
.staff_txt {
    line-height: 1.5;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
} 

.clearLine {
    clear: both;
    border-bottom: 1px solid #dddddd;
}

/* -----------------------------

             menu

-------------------------------*/
.menu-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.item-wrapper {
    width: 50%;
    box-sizing: border-box;
 
}
.item-wrapper h3 {
    font-size: 3rem;
    margin-bottom: 8px;
}
.item-wrapper ul {
    list-style: none;
    font-size: 1.5rem;
}
.item-wrapper li {
    margin-bottom: 4px;
}
.subsection-title_menu{
    text-align: center;
    font-size: 2.0rem;
    margin-bottom: 12px;
}

.subsection-text_menu.card{
    text-align: center;
    margin-bottom: 0;
}
.card-wrapper {
    text-align: center;
    font-size: 3.6rem;
}
.fab {
    font-family: "Font Awesome 5 Brands";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.fa-cc-visa:before {
    content: "\f1f0";
}

.fab fa-cc-amex {
    text-align: center;
}


/* -------------------------------------

                Reserve

---------------------------------------*/

.section-title {
    text-align: center;
}
.reserve-text {
    font-size: 2rem;
    margin-bottom: 24px;
    text-align: center;
}
.phone-number {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 12px;
}
.btn_link {
    margin: 0 auto;
    padding: 10px 0;
    background-color: #000;
    width: 310px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    color: #fff;
    text-align: center;
}
.openning-time-wrapper {
    justify-content: space-around;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 20px;
}
.openning-time {
    font-size: 23px;
    margin-bottom: 15px;

}

/* ----------------------

          footer

-------------------------*/

.maps-outer {
    margin-top: 80px;
    text-align: center;
}
footer{
	text-align: center;
    bottom: 0;
}
footer .copy {
    font-size: 1rem;
}

@media screen and (max-width: 520px) {

/*--------------------------
    
                Base
    
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    
.sp {
    display: block;
}    
a {
    text-decoration: none;
    color: #191919;
}
body {
    font-size: 1.3rem;
}
.br {
    display: none;
}
/* ---------------------

         header

-----------------------*/
.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}
.nav-menu.sp{
    display: flex;
}
.fa-phone-square{
    display: block;
    font-size: 40px;
}
.phone-text{
    position: absolute;
    top: 40px;
    right: 3px;
}

/*humberger-menu*/
/*-----------open button-----------*/
.btn_trigger{
    padding: 10px 20px 0 10px;
    width: 36px;
    height: 36px;
    z-index: 10000;
}
.btn_trigger span:nth-of-type(1){
    display: block;
    width: 100%;
    height: 2px;
    background-color: #191919;
}
.btn_trigger span:nth-of-type(2){
    margin-top: 12px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #191919;
}
.btn_trigger span:nth-of-type(3){
    margin-top: 12px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #191919;
}
/*-----------close button-----------*/
.btn_trigger.active span:nth-last-of-type(3){
    transform: rotate(43deg);
    width: 40px;
    position: absolute;
    top: 21px;
    right: 18px;
}
.btn_trigger.active span:nth-last-of-type(2){
    opacity: 0;
}
.btn_trigger.active span:nth-last-of-type(1){
    transform: rotate(-43deg);
    width: 40px;
    position: absolute;
    top: 10px;
    right: 18px;
}

/*-----------humberger menu-----------*/
.humberger-menu{
    display: inline;
    
    /* display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding:70px 0;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.97);
    z-index: 999;
    font-size: 1.6rem; */
}
.gl-nav.humberger{
    display: block;
}
.logo_humberger{
    display: block;
    width: 140px;
    margin: 0 auto;
}
.nav-list{
    width: 100%;
    margin: 38px 0;
    display: block;	
    text-align: center;
}
.nav-list>li{
    margin-bottom: 27px;
}



/*-------------------
*
*  about
*
--------------------*/

.ilustration_pic {
    width: 73%;
}
p {
    margin:0 auto;
}
.section-paragrap {
    text-align: center;

}
.section-wrapper{
    padding: 48px 24px 60px;
}
.section-title{
    font-size: 3.0rem;
    width: 160px;
    padding: 6px;
    margin: 0 auto 36px;
}
.subsection-title{
    text-align: center;
    font-size: 2.0rem;
}
.sub_section_title_top {
    font-size: 15px;
    text-align: center;
}
.subsection{
    margin-bottom: 30px;
}
.subsection:last-of-type{
    margin-bottom: 0;
}
.right{
    font-size: 16px;
    white-space:normal;
    text-align: center;
    line-height: 2;
}
.sub_section_left li{
    font-size: 15px;
    margin-top: -80px;
}
.sub_section_left {
    margin-bottom: -80px;
}
.concept-text{
    text-align: center;
}
.img_staff{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.img_staff img{
    position: absolute;
    top: 0;
    right: 0px;
    margin: auto;
}
.profile-list{
    font-size: 1.2rem;
    padding-top: 6px;
    padding-left: 17px;
}
.list-title{
    display: inline;
    line-height: 1.2;

}
.list-detail{
    display: inline;
}

.profile-list{
    padding-top: 6px;
    padding-left: 18px;
}

/* ----------------

        staff

-------------------*/

.staffR {
    font-size: 9px;
}
.staff_txt {
    font-size: 12px;
    width: 50%;
}
.staffL {
    margin-bottom: 50px;
    top: 50px;
}
.content img {
    margin-top: -10px;
}


/*-------------------
*
*  style
*
--------------------*/

.bx-wrapper{
    margin: 0 auto;
    text-align: center;
}

/*-------------------
*
*  menu
*
--------------------*/

.cut {
    font-size: 5px;
}
.menu-wrapper{
    display: block;
    text-align: left;
    margin-bottom: 48px;
}
.item-wrapper{
    width: 100%;
    margin-bottom: 30px;
    font-size: 12px;
}

.item-wrapper h3 {
    font-size: 25px;
}
.item-wrapper:last-of-type{
    margin-bottom: 0;
}
.subsection-title_menu{
    font-size: 1.6rem;
}
.card {
    font-size: 14px;
}

/*-------------------
*
*  reserve
*
--------------------*/
.reserve-text{
    text-align: center;
    font-size: 15px;
    width: 100%;
}

.btn-text {
    font-size: 12px;
}
.btn-outer {
    font-size: 12px;
}
.card-wrapper {
    font-size: 30px;
}
.phone-number{
    font-size: 15px;
    text-align: center;
}
.openning-time-wrapper{
    display: block;
}
.openning-time {
    font-size: 15px;
}
.state {
    font-size: 20px;
}
.open-wrapper{
    margin-bottom: 20px;
}
.close-wrapper {
    margin-bottom: 20px;
}

/*-------------------
*
*  access
*
--------------------*/

.section-title {
    font-size: 12px;
}
.subsection-title{
    text-align: center;
    font-size: 20px;
} 
.shop-info {
    text-align: center;
    font-size: 14px;
}
.maps-outer{
position: relative;
padding-bottom: 0;
height: auto;
overflow: hidden;
}
}